.product-details-image img {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 500px;
  object-fit: cover;
  height: 500px;
  margin-top: -20px;
}

.img-section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.screenshots {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-evenly;
  margin-top: 4%;
}

.screenshots img {
  width: 164.5px;
  border-radius: 5%;
}

@media (min-width: 768px) {
  /* .product-details-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  } */
}
